{% extends "base.html" %}

{% block title %} {{ event.event_name }} {% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-4 text-center">{{ event.event_name }}</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card-body">
                <img src="{{ event.img_url }}" class="card-img-top">
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card-body">
                <h5 class="card-title">Описание</h5>
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
                <p class="card-text"><i class="far fa-calendar-alt"></i> {{ event.event_datetime }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
